<div class="d-flex justify-content-center align-items-center">
    <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="form-group" >
      <label for="brandDropdown">Brand:</label>
      <select id="brandDropdown" class="form-select" [(ngModel)]="selectedBrand" name="selectedBrand">
        <option *ngFor="let brand of brands" [value]="brand.brandId">{{ brand.brandName }}></option>
      </select>
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group" >
      <label for="brandDropdown">Color:</label>
      <select id="brandDropdown" class="form-select" [(ngModel)]="selectedColor" name="selectedBrand">
        <option *ngFor="let color of colors" [value]="color.colorId">{{ color.colorName }}></option>
      </select>
    </div>
  </div>
  <div class="col-md-1" style="margin-top: 25px;">
    <button type="button" class="btn btn-success">Filter</button>
  </div>
  <div class="col-md-1" style="margin-top: 25px;">
    <button type="button" class="btn btn-success">Clear</button>
  </div>
</div>

<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
          <th>Id</th>
          <th>Color</th>
          <th>Brand</th>
          <th>DailyPrice</th>
          <th>Description</th>
        </tr>
      </thead>
      <tr *ngFor="let carDetail of carDetails" (click)="setCurrentCar(carDetail)" [routerLink]="'car/' + carDetail.carId">
        <td>{{ carDetail.carId }}</td>
        <td>{{ carDetail.colorName }}</td>
        <td>{{ carDetail.brandName }}</td>
        <td>{{ carDetail.dailyPrice }}</td>
        <td>{{ carDetail.description }}</td>
      </tr>
</table>

<div *ngFor="let carImage of carImageDetail">
  <img *ngIf="isImageLoaded" width="300" height="250" [src]="getImagePath(carImage)" alt="">
</div>
